.add_files {
	padding-top: 35px;

}

.add_files__inner {
	max-height: 200px;
	overflow: hidden;
	transition: max-height .2s ease-in-out;

}
.hide {
	max-height: 0;
}

.add_files__block {
	display: flex;
	justify-content: space-around;
	margin-bottom: 25px;
}

.add_files__center {
	display: flex;
	justify-content: center;
}
